.list_container {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0;
    justify-content: center;
    align-items: center;
}

#car_list {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

#car_list img{
    border: 0.1px solid gray;
    padding: 0.2rem;
    width: 78%;
    height: 160px;
}

.cal_price {
    width: 20rem;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    align-items: center;
    background-color: #F0403F;
    border: none;
    font-family: 'NanumBarunGothic';
    margin-top: 2rem;
}

.cal_price a{
    text-decoration: none;
    color: white;
}