#day {
    background: #282c34;
    padding : 0.2rem;
    margin-right: 0.2rem;
}

#hours {
    background: gray;
    padding: 0.2rem;
    margin-right: 0.05rem;
}

#min {
    background: gray;
    padding: 0.2rem;
    margin-right: 0.05rem;
}

#sec {
    background: gray;
    padding: 0.2rem;
}

.Countdown {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 1.5%;
    right: 11%;
}

.Countdown-col-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Countdown-col-element strong{
    color: white;
    font-size: 0.6rem;
    margin-right: 0.1rem;
    align-content: center;
    justify-content: center;
}

