.gift_wrapper {
    /* margin-top: 2rem; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #212643;
    position: relative;
    margin-top: 3rem;
}

.whiteContainer {
    position: absolute;
    width: 100%;
    height: 10px;
    /* background: red; */
}
#gift_img img{
    width: 100%;
    height: auto;
}

