.header_wrapper {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}
#header_logo {
    width: 20%;
    margin-left: 1rem;
}

#header_logo img {
    width: 10rem;
}

#header_name {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.3rem;
}